:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-roxo: #950099;
    --cor-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-roxo-efeito: #950089;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_botao {
    background-color: var(--botao-roxo);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 90%;
}

.secundario {
    align-items: center;
    margin: 0 2em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    text-align: center;
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
    text-align: justify;
}

.container__descricao {
    padding: 2em;
}

.container__download {
    background-color: var(--branco-principal);
    border-radius: 4px;
    padding: 1em;
    color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    display: block;
    margin-bottom: 2em;
    text-align: center;
}

.container__download a:hover {
    color: var(--botao-roxo)
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__logo {
    margin-bottom: 2em;
}

.lista__link a:hover {
    color: var(--botao-roxo-efeito)
}

.lista__link a:active {
    color: var(--botao-roxo-efeito)
}

.container__botao:hover {
    background-color: var(--botao-roxo-efeito);
    color: var(--cor-fundo);
}
